# Prepare the Data for Machine Learning Algorithms

In [1]:
import numpy as np
import pandas as pd

In [2]:
filepath="../data/preprocessed_data/train.csv"

In [3]:
housing=pd.read_csv(filepath)

In [4]:
housing.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

- Splitting the dataset into X and y dataframes so that X contains the attributes required to predict y variable
- y is basically our target variable

In [8]:
X = housing.drop('median_house_value',axis=1)
y = housing["median_house_value"].copy()

In [9]:
X.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,INLAND
1,15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,NEAR OCEAN
2,2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,INLAND
3,14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,NEAR OCEAN
4,20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,<1H OCEAN

In [10]:
y.head()

0     72100.0
1    279600.0
2     82700.0
3    112500.0
4    238300.0
Name: median_house_value, dtype: float64

## Data Cleaning

- We need to do Data cleaning because most machine learning models won't work with missing values in features.

In [11]:
X.isnull().sum()

Unnamed: 0              0
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

- We can observe the null values in total_bedrooms column
## Ways to deal with null values
- if null values are more than half get rid of that column
- Try to remove the rows
- Try to impute or fill them with appropriate values

In [13]:
# housing.dropna(subset=["total_bedrooms"]) # option 1
# housing.drop("total_bedrooms", axis=1) # option 2
median = housing["total_bedrooms"].median() # option 3
housing["total_bedrooms"].fillna(median, inplace=True)

## Filling Null values with sklearn
- Scikit-Learn provides a handy class to take care of missing values: SimpleImputer.

In [15]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median") 
# since it is numerical variable we are using strategy median
# if it is categorical we can use the strategy as mode.

In [16]:
housing_num = housing.drop("ocean_proximity", axis=1)
# since we choose strategy for numerical values, so we are droppin the ocean_proximity as it object dtype

In [17]:
imputer.fit(housing_num)

SimpleImputer(strategy='median')

In [19]:
imputer.statistics_

array([ 1.03395e+04, -1.18510e+02,  3.42600e+01,  2.90000e+01,
        2.11900e+03,  4.33000e+02,  1.16400e+03,  4.08000e+02,
        3.54155e+00,  1.79500e+05])

In [20]:
housing_num.median().values

array([ 1.03395e+04, -1.18510e+02,  3.42600e+01,  2.90000e+01,
        2.11900e+03,  4.33000e+02,  1.16400e+03,  4.08000e+02,
        3.54155e+00,  1.79500e+05])

we you can use this “trained” imputer to transform the training dataset by replacing the missing values with calculated median

In [22]:
temp=imputer.transform(housing_num)

Transform function will generally return numpy array , so we need to convert that back into dataframe

In [23]:
housing_tr = pd.DataFrame(X, columns=housing_num.columns)

## Handling text and Categorical attributes

In [25]:
housing_cat=housing['ocean_proximity'].copy()
housing_cat.head()

0        INLAND
1    NEAR OCEAN
2        INLAND
3    NEAR OCEAN
4     <1H OCEAN
Name: ocean_proximity, dtype: object

- Most machine learning algorithms work on numerical input so we need to convert this text into numbers
- The process to tackle this situation is called encoding
## Methods for encoding
- Ordianl Encoding
- One hot encdoing
- Label Encoding

In [26]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()